<div class="header-content">
    Tower of Hanoi
    <button id="instruction-button">?</button>
    <div id="instructions">
        Rules: 
        <ul>
        <li>Move each of the rings from the first stand to the third stand, in the same order</li>
        <li>Only one ring can be moved at a time</li>
        <li>Click the ring you want to move, and the stand you want to move it to, to move the ring</li>
        <li>No larger ring can ever be stacked on top of a smaller ring</li>
        </ul>
        <button id="X-out">X</button>
    </div>
</div>
