#header {
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 10px;
    text-align: center;
}
#instruction-button {
    position: absolute;
    width: 25px;
    top: 85px;
    right: 15px;
    background-color: rgb(255, 247, 0);
}
#instructions {
    position: absolute;
    background-color: rgba(125, 127, 128, 0.753);
    color: white;
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: left;
    padding: 25px;
    top: 125px;
    left: 215px;
    margin: 70px;
    z-index: 2;
}
#X-out {
    background-color: red;
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
}
#rings-variant {
    position: absolute;
    top: 85px;
    order: 2;
}
#creator {
    position: absolute;
    color: black;
    top: 420px;
    left: 15px;
}
#rod1 {
    background-color: rgb(251, 255, 3);
    position: absolute;
    top: 200px;
    left: 350px;
    z-index: auto;
}
#rod2 {
    background-color: rgb(104, 57, 11);
    position: absolute;
    top: 200px;
    left: 700px;
    z-index: auto;
}
#rod3 {
    background-color: rgb(104, 57, 11);
    position: absolute;
    top: 200px;
    left: 1050px;
    z-index: auto;
}

#rodlist1 {
    top: 200px;
    left: 350px;
}

#rodlist2 {
    top: 200px;
    left: 700px;
}

#rodlist3 {
    top: 200px;
    left: 1050px;
}
