#header {
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 10px;
    text-align: center;
}
#instruction-button {
    position: absolute;
    width: 25px;
    top: 105px;
    right: 20px;
    background-color: rgb(255, 250, 111);
    border-radius: 5px;
}
#instructions {
    position: absolute;
    background-color: rgba(182, 182, 182, 0.796);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: left;
    padding: 25px;
    top: 125px;
    left: 215px;
    margin: 70px;
    z-index: 2;
    border-radius: 10px;
}
#X-out {
    background-color: red;
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
}
#start {
    position: absolute;
    background-color: rgb(145, 244, 145);
    border-radius: 5px;
    left: 15px;
}
#reset {
    position: absolute;
    background-color: rgb(227, 146, 146);
    border-radius: 5px;
    top: 110px;
    left: 15px;
}
#rings-variant {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 80px;
    left: 1290px;
    order: 2;
    border-radius: 5px;
}
#creator {
    position: absolute;
    color: black;
    top: 620px;
    left: 15px;
}
#ring-display {
    background-color: rgba(0, 255, 255, 0.185);
    position: relative;
    top: 50px;
    width: 1400px;
    height: 400px;
    left: 0px;
}
#rod1 {
    left: 350px;
    position: absolute;
}
#rod2 {
    left: 700px;
    position: absolute;
}
#rod3 {
    left: 1050px;
    position: absolute;
}
