<div> 
    <div id="header"></div>
    <button id="start">Start Game</button>
    <button id="instruction-button">?</button>
    <button id="reset">Reset</button>
    <select id="rings-variant">
        <option value="three">Easy: 3 Rings</option>
        <option value="five">Medium: 5 Rings</option>
        <option value="seven">Hard: 7 Rings</option>
    </select>
    <div id="instructions">
        <button id="X-out">X</button>
        <br>
        Rules: 
        <ul>
        <li>Move each of the rings from the first stand to the third stand, in the same order</li>
        <li>Only one ring can be moved at a time</li>
        <li>Click the ring you want to move, and the stand you want to move it to, to move the ring</li>
        <li>No larger ring can ever be stacked on top of a smaller ring</li>
        </ul>
        <br>
    </div>
</div>
<div id="display">
        <div class="rod" id="rod1"></div>
        <div class="rod" id="rod2"></div>
        <div class="rod" id="rod3"></div>
    </div>
</div>
    <div id="creator">Crissa Owens<br>crissao@udel.edu</div>
</div>
